.DS_Store
*.so 
.venv
.env*
*.zip
drive
cache/*
*.pyc
.pyc
*/.pyc
*/*.pyc
*.pyc
*.wav
*.mp3
.DS_Store
cloud/.DS_Store
device/.DS_Store
__pycache__
*/__pycache__/*
cache/*
.vscode/*
dist/*
*.edf
*.pyc
analysis/cache/*
build/*
*.rml
*/data
data
**/cache
**/*log
myenv/*
*.dat
*.npz
vir_name/*